 /*.hidden {*/

 /*    display: none;*/

 /*}*/

 #checklist1 {
     margin-left: 150px
 }

 h4 {
     margin-left: 150px;
 }

 #header {
     text-align: center;
 }
  #header2
  {
     text-align: center;
 }
 #progBar {
     width: 40%;
     height: 20px;
 }
.mid{
    text-align:center;
    clear:both;
}
.clear { clear:both; }
#newSaleNum{
  border: 2px solid grey;
  border-radius: 4px;
}
